html,
body {
    height: auto;
    width: auto;
    margin: 0;
    background: #202020;
}
#상단바 {
    position: fixed;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #202020;
}

#상단바2 {
    position: fixed;
    width: 100%;
    height: 50px;
    right: 0;
    top: 55px;
    background: #202020;
}

#메뉴바 {
    position: fixed;
    width: 80px;
    height: 100%;
    left: 0px;
    top: 50px;
    background-size: cover;
    background: #202020;
    z-index: 1;
}

#공간1 {
    position: absolute;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    background: #202020;
}

#공간2 {
    position: absolute;
    height: auto;
    left: 80px;
    right: 50px;
    background: #181818;
}

#sidebar {
    position: fixed;
    width: 36px;
    height: 35px;
    left: 14px;
    top: 8px;
    background-size: cover;
}



#logo {
    position: absolute;
    width: 105px;
    height: 25px;
    left: 58px;
    top: 10px;
    background: #D9D9D9;
    background-image: url('image/로고.png');
    background-size: cover;
}

#searchbar {
    position: absolute;
    width: 41%;
    height: 36px;
    right: 30%;
    top: 7px;
    border: 1px solid gray;
}

input {
    position: absolute;
    font-size: 16px;
    padding: 8px;
    border: 0px;
    outline: none;
    left:0;
    right:40px;
    background-color: #121212;
    color: white;
}

#searchbutton {
    position: absolute;
    width: 60px;
    height: 36px;
    border: 1px;
    outline: none;
    right: 0px;
    background-image: url('image/검색버튼.png');
    background-size: cover;
    background-color: #313131;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#searchbutton:active {
    background-image: url('image/검색버튼.png');
    filter: invert(100%);
}

#loginbutton {
    position: absolute;
    width: 100px;
    height: 37px;
    right: 15px;
    top: 4px;
    background: #D9D9D9;
    background-image: url('image/로그인버튼.png');
    background-size: cover;
}

#category {
    position: absolute;
    width: 650px;
    height: 35px;
    left: 30%;
    top: 8px;
}

#전체 {
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#음악 {
    left: 65px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#실시간 {
    left: 130px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#관광지 {
    left: 210px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#게임 {
    left: 290px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#요리 {
    left: 355px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#최근업로드된동영상{
    left: 420px;
    position: absolute;
    padding:2.5px 12px;
    height: 25px;
    background: #484848;
    border-radius: 25px;
    margin:2.5px 10px;
    border: 1px solid gray;
    color:white;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.items {
    background-color: #888888;
    padding-top: 76.88%;
    margin: 5%;
}

#menubutton{
    pointer-events: none;
    position: fixed;
    width: 36px;
    height: 35px;
    left: 18px;
    top: 11px;
    background-image: url('image/메뉴버튼.png');
    background-color: #202020;
    z-index: 4;
}

/* 메뉴바 */
.sidebar_content {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    top:50px;
    background: #212121;
    transition: all .35s;
    z-index: 5;
}

.sidebar_content>div {
    position: absolute;
    width: 250px;
    height: 100%;
    top:20px;
    background-color: #212121;
    background:url('./image/메뉴바.png');
    background-size: cover;
    
}

.sidebar_content>div>div {
    width: 200px;
    height: 100%;
    margin: 8px;
    background-color: rgb(63, 63, 63);
}

.sidebar_content label[for*='sidebar'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .35s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

input#sidebar:checked~.sidebar_content {
    left: 0;
}

input#sidebar:checked~.background {
    opacity: 1;
    visibility: visible;
}







#영상1{
    background-image: url(./image/영상1.png);
    background-size: cover;
}

#영상2{
    background-image: url(./image/영상2.png);
    background-size: cover;
}

#영상3{
    background-image: url(./image/영상3.png);
    background-size: cover;
}

#영상4{
    background-image: url(./image/영상4.png);
    background-size: cover;
}

#영상5{
    background-image: url(./image/영상5.png);
    background-size: cover;
}
#영상6{
    background-image: url(./image/영상6.png);
    background-size: cover;
}
#영상7{
    background-image: url(./image/영상7.png);
    background-size: cover;
}
#영상8{
    background-image: url(./image/영상8.png);
    background-size: cover;
}