html,
body {
    height: auto;
    width: auto;
    margin: 0;
}

body {
    background: #707070;
}

#상단바 {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #202020;
}

#상단바2 {
    position: fixed;
    width: 100%;
    height: 50px;
    right: 0;
    top: 50px;
    background: #202020;
}

#메뉴바 {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 50px;

    background: #1d1d1d;
}

#공간1 {
    position: absolute;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    background: #DEDEDE;
}

#공간2 {
    position: absolute;
    height: auto;
    left: 80px;
    right: 50px;
    background: #DEDEDE;
}

#sidebar {
    position: fixed;
    width: 36px;
    height: 35px;
    left: 14px;
    top: 8px;
    background-image: url('image/메뉴버튼.png');
    background-size: cover;
}



#logo {
    position: absolute;
    width: 105px;
    height: 25px;
    left: 58px;
    top: 10px;
    background: #D9D9D9;
    background-image: url('image/로고.png');
    background-size: cover;
}

#searchbar {
    position: absolute;
    width: 33%;
    height: 35px;
    right: 33%;
    top: 8px;
}

input {
    position: absolute;
    font-size: 16px;
    width: 95%;
    padding: 8px;
    border: 0px;
    outline: none;
    right: 50px;
    background-color: #121212;
    color: white;
}

#searchbutton {
    position: absolute;
    width: 40px;
    height: 34px;
    border: 1px;
    outline: none;
    right: 0px;
    background-image: url('image/검색버튼.png');
    background-size: cover;
    background-color: #313131;
    border-radius: 5px;

}

#searchbutton:active {
    background-image: url('image/검색버튼.png');
    filter: invert(100%);
}

#loginbutton {
    position: absolute;
    width: 100px;
    height: 37px;
    right: 15px;
    top: 4px;
    background: #D9D9D9;
    background-image: url('image/로그인버튼.png');
    background-size: cover;
}

#category {
    position: absolute;
    width: 50%;
    height: 35px;
    left: 30%;
    top: 8px;
}

#categorybar {
    position: absolute;
    width: 80%;
    height: 25px;
    left: 10%;
    top: 5px;
}

.categorybutton {
    position: absolute;
    width: 100px;
    height: 25px;
    background: white;
    border-radius: 12.5px;
    margin-left: 10px;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.items {
    background-color: #888888;
    padding-top: 80%;
    margin: 5%;
}








/* 메뉴바 */
.sidebar_content {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #999;
    transition: all .35s;
    z-index: 5;
}

.sidebar_content>ul {
    margin: 20px;
}

.sidebar_content>ul>li {
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.sidebar_content>ul>li>a {
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 10px;
    margin: 10px;
    background: #f5f5f5;
}

.sidebar_content label[for*='sidebar'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* 메뉴바 외 배경영역 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .35s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

input#sidebar:checked~.sidebar_content {
    left: 0;
}

input#sidebar:checked~.background {
    opacity: 1;
    visibility: visible;
}
